body {
  margin: 0;
  font-family: 'Work Sans' !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Work Sans' !important;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .box-light-title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  * + .box-light-title {
    margin-top: 16px;
  }
  * + .box-light-title {
    margin-top: 10px;
  }
  .box-light-title {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-weight: 400;
  }
}

@media (max-width: 991.98px) {
  .box-creative * + p {
    margin-top: 10px;
  }
}
